a {
  font-size: 1.6rem;
  font-weight: 600;
  color: #5CBD85;
  text-decoration: none;
}

a:link {
  color: #5CBD85;
}

a:hover {
  color: #d6efc7;
}

a:active {
  color: #438a5e;
}

.nav-bar-container {
  background-color: #323232;
  height: 17vh; 
}

.nav-bar-logo {
  float: left;
  margin-left: 5rem;
}

.nav-bar-group {
  text-align: center;
  float: right;
  margin-top: 2rem;
  margin-right: 10rem;
}

.nav-bar-item1 {
  padding-right: 3rem;
}


/* Media Queries */
@media (max-width: 795px) {
  .nav-bar-container{
    height: 15vh; 
  } 

  .nav-bar-logo {
    margin-left: 0rem;
    width: 15rem;
    height: 7rem;
  }
  
  .nav-bar-group {
    margin-right: 3rem;
  }

  .nav-bar-item1 {
    font-size: 1.5rem;
  }
  .nav-bar-item2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 489px) {
  .nav-bar-group {
    margin-right: 1.8rem;
  }
   .nav-bar-item1 {
    font-size: 1.3rem;
  }

  .nav-bar-item2 {
  font-size: 1.3rem;
  }
}

@media (max-width: 447px) {
  .nav-bar-group {
    display: flex;
    margin-right: 1rem;
  }
   .nav-bar-item1 {
    font-size: 1.3rem;
  }

  .nav-bar-item2 {
  font-size: 1.3rem;
  }
}




@media (max-width: 432px) {
  .nav-bar-group {
    flex-direction: column;
    
  }
  
  .nav-bar-item1 {
    text-align: right;
  }

  .nav-bar-item2 {
    text-align: left;
  }
}




@media (max-width: 375px) {
.nav-bar-group {
  display: flex;
  margin-right: 0rem;
  }
}




@media (max-width: 363px) {
  .nav-bar-logo {
    width: 12rem;
    height: 6rem;
    margin-top: .5rem;
  }
}




@media (max-width: 360px) {
.nav-bar-logo {
  width: 8rem;
  height: 4rem;
  }

  .nav-bar-group {
    margin-right: 3rem;
    margin-top: 1rem;
  } 

 .nav-bar-item1 {
    font-size: 1rem;
  }

 .nav-bar-item2 {
  font-size: 1rem;
  }
}





@media (max-width: 360px) {
  .nav-bar-group {
    margin-right: 0rem;
  }
}