<<<<<<< HEAD
a {
  font-size: 1.7rem;
  font-weight: 600;
  color: #5CBD85;
  text-decoration: none;
}

a:link {
  color: #5CBD85;
}

a:hover {
  color: #d6efc7;
}

a:active {
  color: #438a5e;
}

.nav-bar-container {
  background-color: #323232;
  height: 17vh;  
}

.nav-bar-logo {
  float: left;
  margin-left: 5rem;
}

.nav-bar-group {
  text-align: center;
  float: right;
  margin-top: 2rem;
  margin-right: 10rem;
}

.nav-bar-item1 {
  padding-right: 3rem;
}



=======
.navbar-container {
    padding: 20px 10px 20px 10px; 
    background-color: white;
}

.navbar-log-in:link {
    text-decoration: none;
    padding-right: 40px;
}

.navbar-log-in:visited {
    color: white;
}

.navbar-sign-up:link {
    text-decoration: none;
    padding-right: 0px;
}

.navbar-sign-up:visited {
   color: white;
}

>>>>>>> 184ca0fc89090253f5ee4a603f46f5a7e8db166c
